@media (min-width: 1200px) {
    /* Header */
    
    .header-icon__item {
        a:hover {
            color: #8D4ACC;
        }
    }

    .header-nav__item {
        > a:hover {
            &::before {
                width: 100%;
            }
        }
        
        > p:hover {
             &::before {
                width: 100%;
            }
        }
        
        &:hover {
             .header-drop__list {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s .2s;
            }
        }
    }
    
    .header-drop__item {
        &:hover {
            color: #5F2275;
        }
    }
    
    .live-sarch__item {
        &:hover {
            background-color: #F0F0F0;
        }
    }
    
    /* /Header */
    
    /* General */
    
    .main-button {
        &:hover {
            color: #333333;
            border-color: #F0F0F0;
        }
        
        &.banner {
            &:hover {
                color: #ffffff;
                border-color: #333333;
            }
        }
    }
    
    .popup-button {
        &:hover {
            color: #fff;
        }
    }
    
    .main-button-color {
        &:hover {
            background-color: #333333;
        }
    }
    
    .general-buttons {
        button {
            &:hover {
                color: #8D4ACC;
            }
        }
    }
    
    .radio__wrapper {
        &:hover {
            color: #8D4ACC; 
        }
    }
    
    .call-back-button,
    .to-top {
        &:hover {
            border-color: #8D4ACC;
            color: #8D4ACC;
        }
    }
    
    .more_info {
        &:hover {
            color: #4F4F4F;
        }
    }
    
    .cansel-add {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    /* /General */
    
    /* Product */
    
    .product-add-to-cart  {
        button:hover {
            background-color: #333333;
        }
    }
    
    .add-to-favorites:hover {
        background-color: #ffffff;
    }
    
    .product__info {
        h4:hover {
            color: #8D4ACC;
        }
    }
    
    .change-product {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    /* /Product */
    
    /* Call back email */
    
    .email-button {
        &:hover {
            color: #4F4F4F;
        }
    }
    
    /* Call back email */
    
    /* Lookbook */
    
    .lookbook-block-tabs__item {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    
    /* /Lookbook */
    
    /* Social link */
    
    .social-links__item {
        
        &:hover {
            color: #8D4ACC;
        }
    }
    
    /* /Social link */
    
    /* Popup */
    
    .close__popup {
        &:hover {
            color: #000000;
        }
    }
    
    .popup-link {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    .popup-check {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    .tabs__item {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    
    /* /Popup */
    
    /* About us */
    
    .about-us__wrapper {
        a:hover {
            color: #4F4F4F;
        }
    }
    
    /* /About us */
    
    /* Footer */
    
    .footer {
        a {
            transition: color .4s;
            
            &:hover {
                color: #8D4ACC;
            }
        }
    }
    
    /* /Footer */
    
    /* Catalog */
    
    .catalog-sub-category__item,
    .catalog-category__item {
        a {
            &:hover {
                &::before {
                    width: 100%;
                }
            }
            
        }
    }
    
    .catalog-drop__item {
        &:hover {
            background-color: #F0F0F0;
        }
    }
    
    .selected-filter__item {
        &:hover {
            .delete {
                background-color: #E0E0E0;
            }
        }
    }
    
    .clear-sort {
        &:hover {
            color: #000000;
        }
    }
    
    .catalog__button-select {
        &:hover {
            color: #5F2275;
        }
    }
    
    /* /Catalog */
    
    /* Product page */
    
    .product-img__item {
        &:hover {
            border-color: #333333;
        }
    }
    
    .product-img__button {
        &:hover {
            background-color: #f3f3f3;
        }
    }
    
    .to-favorites {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    .product-size__item {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
    
    .product-info-buttons__item {
        &:hover {
            color: #8D4ACC;
        }
    }
    
    .product-calc__wrapper {
        button {
            &:hover {
                background-color: #333333;
                color: #ffffff;
            }
        }
    }
    
    .product-general-buttons {
        button {
            &:hover {
                color: #333333;
            }
        }
    }
    
    /* Product page */
    
    /* Reviews */
    
    .reviews-block-product {
        .wrapper {
            a:hover {
                color: #8D4ACC;
            }
        }
    }
    
    /* /Reviews */
    
    /* Cart */
    
    .cart-info__callback {
        a:hover {
            color: #8D4ACC;
        }
    }
}
