.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    background-color: #fff;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s;
}

.close__popup {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 25px;
    color: #4f4f4f;
    transition: color .4s;
}

.overlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.overlay.active {
    display: block;
}

.popup-reviews {
    max-width: 770px;
    width: 100%;
    
    .reviews__item {
        width: 100%;
        height: auto;
        border: none;
        padding: 50px;
    }
    
    .content {
        max-height: 100% !important;
        margin-bottom: 30px;
    }
}

/* Popup size */

.popup-size {
    max-width: 450px;
    padding: 50px;
    
    h4 {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .input__wrapper {
        margin-bottom: 20px;
    }
    
    button {
        max-width: 100%;
    }
}

/* Popup size */

/* Popup composition */

.popup-composition {
    max-width: 541px;
    padding: 50px;
    text-align: center;
    
    .caption {
        font-weight: 600;
        font-size: 18px;
        line-height: 130%;
    }
    
    > p {
        margin: 10px 0px 20px;
        font-size: 16px;
        line-height: 150%;
    }
}

.popup-composition__list {
    display: flex;
    margin-top: 20px;
}

.popup-composition__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 81px;
    height: 80px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 130%;
    
    .img {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 10px;
    }
}